AI_PROVIDER_SEARCH=
AI_PROVIDER_DISCOVERY=
AI_PROVIDER_CHAT=
GEMINI_API_KEY=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_WEB_KEY=
GOOGLE_MAPS_SERVER_KEY=
GOOGLE_MAPS_ANDROID_KEY=
GOOGLE_MAPS_IOS_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
ADMIN_PASSWORD=
GOOGLE_YOUTUBE_API_KEY=
SERPER_API_KEY=
CSC_API_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
APP_URL=
REWARD_POINTS=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
